
/* PC用スタイル */
@media screen and (min-width: 768px) {

  .main_width{
    width:  1380px;
    margin-left: auto;
    margin-right: auto;
  }

  .title_menu{
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-top: 20px;
    padding-top: 20px;
  }


 
  .center_box{
    /* width: 85%;
    margin-left: auto;
    margin-right: auto; */
    
  }

  .center_pic{
    background-color: aqua;
    height:auto;
    width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 20px 20px; */
   width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
    
  }

  .pic{
    background-color: yellow;
    width: 49%;
    margin-left: auto;
   margin-right: auto;
  }

  img{
    width: 100%;
  }


  .view_more{
    text-align: center;
  }

}